*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
}

main {
    display: grid;
}

body {
    font-family: 'Amatic SC', cursive;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
}

a,
button {
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

a:hover,
button:hover {
    color: rgba(0, 0, 0, 0.8);
}

#root {
    height: 100%;
    overflow: hidden;
}

