.app {
    height: 100%;
    width: 100%;
    background-color: white;
    margin: 10px;
}

html {
    background-color: white;
}

ul{
    margin: 2px;
}
ul li{
    display: inline;
}

li{
    margin-right: 20px;
    margin-left: 20px;
    border: 0.5px solid white;
}
li:hover {
    cursor: pointer;
    border: 0.5px solid #8da74d;
    margin-right: 20px;
    margin-left: 20px;
}

/* Shakes on mouseover */
nav a:hover {
    animation:  shake 0.8s;
}

@keyframes shake{
    0%{
        transform: translateX(0)
    }
    25%{
        transform: translateX(15px);
    }
    50%{
        transform: translateX(-15px);
    }
    100%{
        transform: translateX(0px);
    }
}


.text-column {
    column-gap: 100px;
    column-count: 2;
    column-span: 2;
    margin-bottom: 40px;
}


.row:after {
  display: table;
  clear: both;
}

nav{
    font-size: 2em;
    display: flex;
    flex-wrap: wrap;
}

nav.header{
    border-top: 0.5px solid #8da74d;
    border-bottom: 0.5px solid #8da74d;
}


.material-icons {
    font-size: inherit;
  }


/* Impression Class */
a.impressumClass {
    font-size: 4em;
}


