.column {
    column-count: 2
}

.game {
    padding-top: 3%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-wrapper {
    display: flex;
    position: relative;
}

.grid {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: grid;
    grid-gap: 2rem;
    font-size: 4vmax;
}

.small {
    width: 60vmax;
    padding: 3rem;
}

.small .grid-wrapper {
    padding-top: 50%;
}

.small .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.big {
    width: 35vmax;
}

.big .grid-wrapper {
    padding-top: 100%;
}

.big .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.countries {
    width: 55vmax;
}

.countries .grid-wrapper {
    padding-top: 66%;
}

.countries .grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.side {
    width: 50vmax;
}

.side .grid-wrapper {
    padding-top: 100%;
}

.side .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.side img {
    width: 7vmax;
    height: 7vmax;   
    border: 2px  #7a9d0a solid;
}

.side img:hover {
    border: 5px #d5e5a0 solid;
    cursor: pointer;
}