.column{
   column-count: 2;
}
.content{
    height: fit-content;
}
.game {
    display: flex;
    padding-top: 3%;
    margin-left: 20%;
    margin-right: 10%;
}

.game > * {
    flex-flow: wrap row;
}


.small {
    padding: 3rem;
}

.small .grid-wrapper {
    padding-top: 10%;
}

.small .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}


.big{
    margin: 2px;
    padding: 10px;
    width: 100%;
}


.aside{
    flex: 1 1 10em;
    font-size: 4vmax;

}
.grid-wrapper {
    position: relative;
    justify-content: space-evenly;
}

.grid {
    display: grid;
    position: absolute;
    max-height: content-box;
    max-width: content-box;
    padding: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    grid-gap: 2rem;
    overflow: hidden;
}

.big .grid-wrapper {
    padding-top: 100%;
}

.big .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.countries {
    width: 55vmax;
}

.countries .grid-wrapper {
    padding-top: 66%;
}

.countries .grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
}


.aside .grid-wrapper {
    padding-top: 100%;
}

.aside .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.aside img {
    width: 100%;
    height: 100%;
    border: 2px  #7a9d0a solid;
}

.big img {
    width: 100%;
    height: 100%;
    border: 2px  #7a9d0a solid;
}
.sideImage{
    height: 100%;
    width: 100%;
}

.aside img:hover {
    border: 5px #d5e5a0 solid;
    cursor: pointer;
}

@media screen and (max-width:900px) {
    .game { flex-flow: column;   }
}
@media screen and (max-width:700px) {
    .big img {   width: 50%; height: 50% }
}
