.content{
    height: fit-content;
}
.game {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    padding-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
}

.game > * {
    flex-flow: wrap row;
}


.small {
    padding: 3rem;
}

.small .grid-wrapper {
    padding-top: 10%;
}

.small .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}


.big{
    display: inline-block;
    flex-wrap: wrap;
    margin: 4px;
    padding-top: 3px;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}


.aside{
    flex: 1 1 10em;

}
.grid-wrapper {
    position: relative;
    justify-content: flex-start  ;

}

.grid {
    display: grid;
    position: relative;
    max-height: content-box;
    max-width: content-box;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    grid-gap: 2rem;
    overflow: hidden;
}

.big .grid-wrapper {
}

.big .grid {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.countries {
    width: 55vmax;
}

.countries .grid-wrapper {
    padding-top: 66%;
}

.countries .grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
}


.aside .grid-wrapper {
}

.aside .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.aside img {
    width: 100%;
    height: 100%;
    border: 2px  #7a9d0a solid;
}

.big img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 2px  #7a9d0a solid;
}
.game img{
    position: absolute;
}
.sideImage{
    height: 100%;
    width: 100%;
}

.aside img:hover {
    border: 5px #d5e5a0 solid;
    cursor: pointer;
}

@media screen and (min-width: 3000px) {
    .big .grid{
        grid-template-columns: repeat(5, 1fr);
    }
    .big{
        padding-right: 0;
        width: 50%;
    }
}
@media screen and (max-width: 1080px) {
    .game {
        flex-flow: column;

        margin-left: 0;
    }

    .big .grid {
        grid-template-columns: repeat(4, 1fr);
    }
    aside{
        margin-left: 10%;
    }
}
@media screen and (max-width: 800px) {
    .game { flex-flow: column;
    margin-left: 0;
    }
    aside{
        margin-left: 10%;
        padding-left: 10%;
    }
    .big .grid{
        grid-template-columns: repeat(3, 1fr);
    }
    .big img {   width: 100%; height: auto }
    .big{
        width: 80%;
        height: 100%
    }
}
@media screen and (max-width:500px) {
    .game { flex-flow: column;   }
    .big .grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .big img {   width: 100%; height: auto }
    .big{
        width: 100%;
        height: 100%
    }
}
