.card-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    min-width: 110px;
    min-height: 120px;
    max-width: 80px;
    max-height: 120px;
    perspective: 800px;
}

.card {
    height: 80%;
    width: 90%;
    position: relative;
    border-radius: 10px;
    transform-style: preserve-3d;
    font-family: inherit;
    border: 0;
    padding: 0;
    outline: 0;
}

.front,
.back {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}

.front {
    background: url("../../pictures/card.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
    color: #2196f3;
    background: #fff;
    backface-visibility: hidden;
}
.back img {
    width: 100%;
    height: auto;
}
