.home{
    content: "";
}
.app {
}
h1 {
    font-family:RocknRoll One, sans-serif;
    font-size: 1.8em;
}

h2 {
    font-family:RocknRoll One, sans-serif;
    font-size: 1.5em;
}

h3 {
    font-family:RocknRoll One, sans-serif;
    font-size: 1.3em;
}

p {
    font-size: 1.2em;
}

article {
    margin-bottom: 100px;
}


.difficulty-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2em;
}



/*
=====================
Root
=====================
 */
#root {
    height: 100%;
}

ul{
    margin: 2px;
}
ul li{
    display: inline;
}

li{
    margin-right: 20px;
    margin-left: 20px;
    border: 0.5px solid white;
}
li:hover {
    cursor: pointer;
    border: 0.5px solid #8da74d;
    margin-right: 20px;
    margin-left: 20px;
}

/* Shakes on mouseover */
nav a:hover {
    animation:  shake 0.8s;
}

@keyframes shake{
    0%{
        transform: translateX(0)
    }
    25%{
        transform: translateX(15px);
    }
    50%{
        transform: translateX(-15px);
    }
    100%{
        transform: translateX(0px);
    }
}


/* Aligns the main header navigation content */
.column{
    float: left;
    align-content: space-between;
}

.left {
    width: 35%;
    align-content: flex-end;
}
.middle {
    width: 45%;
    float: left;
    align-content: flex-start;
}
.right {
    width: 20%;
    float: left;
    align-content: flex-start;
}

.text-column {
    column-gap: 100px;
    column-count: 2;
    column-span: 2;
    margin-bottom: 40px;
    margin-right: 20%;
}


.row:after {
    display: table;
    clear: both;
}

nav{
    font-size: 2em;
    display: flex;
    flex-wrap: wrap;
}

nav.header{
    border-top: 0.5px solid #8da74d;
    border-bottom: 0.5px solid #8da74d;
}
.column a{
    z-index: 99;
}

a{
    margin-left: 10px;
    margin-right: 5px;
}

a h1{
    font-size: 1.5em;
}

/*
=====================
Impressum
=====================
 */

img.banner {
    margin-left: 0;
    margin-right: auto;
    margin-top: 5%;
    max-width: 80%;
    height: auto;
    width: auto\9; /* ie8 */
}

/* Impression Class */
a.impressumClass {
    font-size: 2em;
}
/*
=====================
lexicon
=====================
 */
.lexicon {
    border-left: 40px;
    border-right: 40px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.8em;
}
.lexicon article {
    display: none;
}
.arrow{
    bottom: 20%;
    right: 10%;
    position: fixed;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 40px;
    height: 40px;
    border-bottom: 5px solid #7a9d0a;
    border-right: 5px solid #7a9d0a;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 3s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.1s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}


/* Grid Setup


 */
.parent {
    margin-left: 20%;
    margin-top: 1%;
    padding-bottom: 50px;
    z-index: 1;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    z-index: 1;
}

.column {
    flex-basis: 50%;
    display: flex;
    flex-flow:wrap column;
    z-index: 1;
}

.bg{
}

.bg::after {
    content: "";
    opacity: 0.7;
    position: absolute;
    height: 1000px;
    width: 100%;
    top: -10%;
    background-position: center;
    background-repeat: no-repeat;
    background-image:  url("../../pictures/Hill_background.png");
    z-index: -100;
}



.parent.home {
    height: 2000px;
}

@media screen and (min-width: 3100px) {

    .bg{

        display: block;
    }
    .body {
        overflow: scroll;
    }

}

@media screen and (min-width: 1080px) {
    .app{

        display: block;
    }
    .parent.home{
        padding-left: 28%;
        padding-right: 30%;
        margin-left: 18%;
        margin-top: 1%;
        align-content: center;
    }
    .column {
        flex: 1;
        margin-bottom: 0;
        padding-top: 0;
    }
    .column img {
        max-width: 20%;
        height: auto;
    }
    .background-set
    {
        top: 5%;
    }
}
@media screen and (max-width: 952px) {
    .parent.home {
        padding-left: 0;
        padding-right: 0;
        margin-left: 5%;
        margin-right: 0;
    }
    .column{
        flex-basis: available;
    }
}
.background-set
{
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
}
.border{
    background: url("../../images/Klammer-Slider_transp.png")  top no-repeat;
}

