.overlay {
    max-width: 100%;
    position: fixed;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.text{
    align-content: center;
    position: sticky;
    position: -webkit-sticky;
  grid-column: 2;
      width: 20rem;
      padding: 1rem;
      color: white;
      font-weight: bold;
  border: 1px solid;
  background: rgba(141, 167, 77, 0.85);
      border-radius: 6%;
    z-index: 999;
    overflow: auto;
  }

  .picStyle {
    width:150px;
      border-radius: 8%;
  }

  .column {
    display: flex;
      flex-flow:wrap column;
    width: 100%;
      align-content: space-evenly;
      justify-content: space-around;
  }

/* Clear floats after the columns */
  .row:after {
      width: 100%;
    clear: both;
  }

.material-icons {
    font-size: 50px;
  }