.overlay {
    border: 1px solid;
    border-radius: 6%;
    background: rgba(142, 184, 94, 0.9);
}
.overlay{
    position: fixed;
    display: inline-block;
    width: 30%;
    height: 85%;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    -ms-scrollbar-base-color: #3e6f2d;
    z-index: 100;
    flex-wrap: wrap;
    max-height: 560px;
    max-width: 500px;
    padding-bottom: 20px;
}

.text{
    position: fixed;
    display: inline-block;
    text-align: justify;
    width: 95%;
    height: 85%;
    top: inherit;
    left: -10px;
    grid-column: 2;
    color: #000000;
    z-index: 999;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right: 200px;
    margin-left: 0;
}
.wrapper{
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
a#close.close:hover{
color: white;
    background-color: #7a9d0a;

}


/** Scroll bar options*/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
}


  .picStyle {
      border-radius: 8%;
      max-width: 110px;
      height: auto;
  }
/*
  .column {
    display: flex;
      flex-flow:wrap column;
    width: 100%;
      align-content: space-evenly;
      justify-content: space-around;
  }

/** close button **/

.close {
    font-family: Arial, sans-serif;
    position: absolute;
    font-size: 1.5em;
    color: white;
    border: black;
    border-radius: 50%;
    background: #8da74d;
    top: -15px;
    right: -15px;
    padding: 2px;
    text-align: center;
    margin-left: calc(0.75em - 17px);
    min-width: 25px;
    min-height: 25px;
    z-index: 999;
}

.overlay-nav {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.overlay-nav a{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    font-size: 2em;
}
.parent button{
    position: relative;
    left: 45%;
}

.overlay .picStyle{
    margin-left: auto;
    margin-right: auto;
}
.text .column{
    padding-right: 25px;
}
.close:before, .close:after {
    position: absolute;
    content: ' ';
    width: 4px;

}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

/* Clear floats after the columns */
  .row:after {
      width: 100%;
    clear: both;
  }
@media screen and (min-width: 1240px) {
}
@media screen and (max-width: 952px) {
    .text{
    }
    .text.
    .overlay{
        overflow: scroll;
    }
}
