.header {
    font-size: 1rem;
}
.explanation {
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardItem {
    align-content: center;
    width: fit-content;
}

.cardItem img{
    width: 9vw;
    height: 9vw;
}


.cardOverview {
    width: 700px;
    display: flex;
    flex-flow: wrap ;
    justify-content: space-evenly;
}


.explanationLink {
    margin: 30px;
}

.explanationLink a {
    font-size: 2rem;
    color: #3e6f2d;
    border-radius: 15px;
    padding: 20px;
}

.explanationLink a:hover {
    border: 0.5px solid #8da74d;
    background-color: hsla(77, 62%, 63%, 0.8);
    color: #3e6f2d;
}

li  {
    border-radius: 15px;
    margin-top: 5px;
    border: 2px solid #8da74d;
}


li:hover {
    cursor: pointer;
}

ul {
    list-style-type: none;
}
    
.centerText {
    font-size: 1.5rem;
    border-radius: 15px;
    color:#3e6f2d;
    text-align: center;
}

li:hover .centerText {
    background-color: hsla(77, 62%, 63%, 0.8);
    width: 100%;
    color: #3e6f2d;
}
