.winner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.congrats-text {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.winnerLinkClass {
    margin: 100px;
}
